In [2]:
#format()함수로 숫자를 문자열로 변환하기
string_a ="{}".format(10)

#출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

In [4]:
name="홍길동"
age=30
job="개발자"

message = f"이름:{name}, 나이:{age}, 직업:{job}"
print(message)

이름:홍길동, 나이:30, 직업:개발자

In [6]:
date="2025년 4월 13일"
place="융건릉"
time="15시"

message = f"날짜{date}, 장소{place}, 시간{time}"
print(message)

날짜2025년 4월 13일, 장소융건릉, 시간15시